version: "3.0"

services:

  webclient:
    labels:
    - "traefik.enable=true"
    - "traefik.backend=webclient"
    - "traefik.port=80"
    - "traefik.frontend.rule=PathPrefix:/"
    - "traefik.frontend.entryPoints=http"
    build: ./client
    env_file: docker-compose.env

  sccbroker:
    labels:
      - "traefik.enable=false"
    image: socketcluster/scc-broker:v6.0.1
    hostname: scc-broker
    env_file: docker-compose.env
    depends_on:
      - sccstate

  sccstate:
    labels:
      - "traefik.enable=false"
    image: socketcluster/scc-state:v6.1.0
    hostname: scc-state
    env_file: docker-compose.env

  nats:
    image: nats

  traefik:
    image: traefik
    command: --docker --docker.domain=docker.localhost --logLevel=ERROR --docker.exposedbydefault=false
    ports:
      - "3333:80"
    volumes:
      # Note, the below is incompatible with non unix systems, see: https://github.com/docker/for-win/issues/1829
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/traefik.toml
